Here is a json array containing elements of news articles: <%= data.html_safe %>

For each element in the json array:
`"article_url"` contains the citation link for the article.
`"title"` contains the article title.
`"body"` contains the article body.

Please create me an HTML formatted news brief summarizing these articles, including citations. Don't be afraid to take your time. I really want the format to be tidy. Follow the below format, my instructions to you are in [brackets]:

```HTML
<ul>
  <li><strong>[Put the title summary for the article here]: </strong>[Put the article summary here.] Source: [Put the News site name linking to the article here.]</li>
</ul>
<span>[Put a witty quip about crafting this haiku for me especially]</span>
<p>[Put the haiku here, with each line separated by a <br> element.]</p>
```
