<main class="grid">
  <div class="grid-left-l">
    <p>
      Finally, a newsletter with class. Served to you daily by your AI butler, Pennyworth.
    </p>
  </div>
  <div class="grid-right-s">
    Signup today.
  </div>
</main>
